footer{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: .5em;
}
.line{
    width: 30%;
}
hr{
    margin-bottom: .5em;
}
.icon{
    margin-right: 1em;
    
}
.copyright p{
    text-align: center;
    color: rgb(221, 18, 18);
    margin-bottom: .5em;
}
/* media queries */
@media screen and (max-width:1024px) {
 .line{
    width: 40px;
 }
    
}
@media screen and (max-width:568px) {
    hr{
        display: none;
    }
}